@model IEnumerable<EmployeeResponse>
@{
    ViewBag.Titile = "Employees";
}

<form asp-controller="Employee" asp-action="Index" method="get">

    <div class="flex">
        <div class="flex-1">
            <div class="text-grey">
                <span>StaffHub</span>
                <i class="fa-solid fa-caret-right"></i>
                <span>Employees</span>
            </div>
        </div>

        <div class="flex-1 text-right">
            @if (User.IsInRole("Admin"))
            {
                <a href="~/employee/create" style="margin-right:15px" class="button-link button-blue-back">
                    Add Employee
                </a>
            }
            
            <a href="~/employee/employeePDF" class="button-link button-blue-back ml"> Download as PDF </a>
            @if (User.IsInRole("Admin"))
            {
                <a href="~/account/register" class="button-link button-blue-back ml"> Add New User </a>
            }
        </div>
    </div>

    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>Employees </h1>
            </div>
            <div class="flex-3 text-right">
                <label>Search by:</label>
                <select class="search-dropdown" name="searchBy" style="width:200px">
                    @foreach (var field in ViewBag.SearchFields)
                    {
                        if (field.Key == @ViewBag.currentSearchBy)
                        {
                            <option value="@field.Key" selected="selected">@field.Value</option>
                        }
                        else
                        {
                            <option value="@field.Key">@field.Value</option>
                        }
                    }
                </select>

                <input type="search" id="Search" class="search-text" placeholder="Search" name="searchString" value="@ViewBag.currentSearchString" style="width:200px"/>

                <button class="search-button"> Search</button>
                <a asp-controller="Employee" asp-action="Index" class="ml link-hover"> Clear All </a>

            </div>

        </div>

    
    
    
    <table class="table w-100 persons">
        <thead style="height:60px">
            <tr>
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.EmployeeName) },
                {"displayName", "Employee Name" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.Email) },
                {"displayName", "Email" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.DateOfBirth) },
                {"displayName", "Date Of Birth" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.Age) },
                {"displayName", "Age" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.Gender) },
                {"displayName", "Gender" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.Role) },
                {"displayName", "Role" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.DepartmentName) },
                {"displayName", "Department" },

                })
                @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
                { "columnName", nameof(EmployeeResponse.IsActive) },
                {"displayName", "Is Active" },

                })
                @if (User.IsInRole("Admin"))
                {
                    <th>Options</th>
                }
                    
            </tr>
        </thead>
        <tbody>
            @foreach (EmployeeResponse employee in Model)
            {
                <tr>
                    <td style="width:10%">@employee.EmployeeName</td>
                    <td style="width:20%">@employee.Email</td>
                    <td style="width:10%">@employee.DateOfBirth?.ToString("dd MMM yyyy")</td>
                    <td style="width:6%">@employee.Age</td>
                    <td style="width:8%">@employee.Gender</td>
                    <td style="width:10%">@employee.Role</td>
                    <td style="width:10%">@employee.DepartmentName</td>
                    <td style="width:8%">@employee.IsActive</td>
                    @if (User.IsInRole("Admin"))
                    {
                            <td style="width:20%">
                                <div>
                                    <a asp-controller="Employee" asp-action="Edit"
                                       asp-route-employeeID="@employee.EmployeeID" class="button-link button-blue-back"> Edit </a>
                                    <a asp-controller="Employee" asp-action="Delete"
                                       asp-route-employeeID="@employee.EmployeeID" class="button-link button-red-back"> Delete </a>


                                </div>
                            </td>
                    }
                        
                </tr>
            }
        </tbody>

    </table>
    </div>
</form>